<main>
    <header>
        <h1>Welcome to My Diet App</h1>
        <img src="../../public/images/logo.png">
        <nav>
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
            <a routerLink="/products" routerLinkActive="active">Products</a>
        </nav>
    </header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>
